img{
    transition: 5s;
}
img:hover{
    opacity: 0;
}
button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    font-size: 40px;
    border-radius: 50px;
    transition: 0.5s;
}
button:hover{
  box-shadow: 0 0 10px 5px rgb(128, 0, 107);
}