.card {
  width: 200px;
  height: 300px;
  border: 5px solid red;
  border-radius: 25px;
  background: white;
  position: relative;
  font-family: 'Georgia', serif;
}

.top {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: black;
  top: 10px;
  left: 10px;
}
.bottom {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: black;
  bottom: 10px;
  right: 10px;
}

.shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    transform: rotate(180deg);
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: rgb(0, 0, 0);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: -25px;
}
  
